{% extends 'base.html' %}

{% block title %} Details {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br><br>
                <div class="card">
                    <h5 class="card-header">More details</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">Details: {{ course.description }}</p>
                        <p class="card-text">Start Date: {{ course.start_date }}</p>
                        <p class="card-text">Price: {{ course.price }} EUR</p>
                        <a href="{% url 'course_list' %}" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}